# Copy to .env.local for development
EXPO_PUBLIC_DEMO_MODE=1

# Set EXPO_PUBLIC_DEMO_TIME to an ISO string (e.g. 2026-10-05T07:30:00+05:30)
# to start the app with a specific initial clock time. The clock will tick forward from this time.
EXPO_PUBLIC_DEMO_TIME=
